@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "fonts";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DMSans";
  font-size: 14px;

  body {
    background-color: #f2f2f2;

    .main_container {
      margin: 90px 90px 0 90px;
      .main_content {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 80px;
        margin-bottom: 30px;

        .link1 .btn,
        .link2 .btn {
          text-decoration: none;
          color: black;
          font-size: 20px;
        }
        .content,
        .container2 {
          border: none;
          border-radius: 10px;
          padding: 30px 25px;
          max-width: 100%;
          background-color: #fff;
          img {
            margin-bottom: 10px;
          }

          ul {
            display: grid;
            grid-template-columns: 30px 150px 150px 1fr 1fr;
            border-bottom: 1px solid rgba(0, 0, 0, 0.419);
            list-style-type: none;
            text-align: start;
            margin: 20px 0;
            grid-gap: 25px;
            .name {
              font-weight: bold;
            }
          }
          .item1 .price,
          .item8 .price {
            font-weight: bold;
            font-size: 22px;
          }
          .item2 .price {
            font-weight: bold;
            font-size: 22px;
            color: #ff3a29;
          }
          .item3 .price {
            font-weight: bold;
            font-size: 22px;
            color: #02a0fc;
          }
          .item4 .price {
            font-weight: bold;
            font-size: 22px;
            color: #4339f2;
          }
          .item5 .price {
            font-weight: bold;
            font-size: 22px;
            color: #34b53a;
          }
          .item6 .price {
            font-weight: bold;
            font-size: 22px;
            color: #ffb200;
          }
          .item7 .price {
            font-weight: bold;
            font-size: 22px;
            color: #00000083;
          }
        }
      }
      .imgContent {
        grid-column: 1/ span 2;
        .links {
          display: grid;
          grid-template-columns: 100px 100px 100px;
          grid-column: 1 / span 2;
          .btn {
            text-decoration: none;
            color: black;
            font-size: 20px;
          }
        }

        // .container3 {
        //   display: grid;
        //   grid-template-columns: 2fr repeat(4, 1fr);
        //   grid-template-rows: 202px;
        //   grid-gap: 30px;
        //   width: 100%;
        //   margin-top: 30px;
        //   justify-items: end;
        //   .item1 {
        //     grid-row: 1 / span 2;
        //     justify-self: start;
        //   }
        //   .item2 {
        //     grid-row: 1 / span 2;
        //     justify-self: end;
          
        //   }
        //   .item5 {
        //     grid-column: 4;
        //     grid-row: 1 / span 2;
        //   }
        // }
        .container3{
          display: grid;
          grid-template: 1fr / 2fr repeat(4, 1fr);
          gap: 40px;
          justify-items: stretch;
          .item1 {
            grid-row: 1 / span 2;
          }
          .item2 {
            grid-row: 1 / span 2;
          }
          .item5 {
            grid-column: 4;
            grid-row: 1 / span 2;
          }
        }
      }
    }
  }
}

