extends main.pug
include mixins/mixins.pug

block content
    .main_container
        .main_content
            .link1   
                +link('#', 'Design')(class="btn")
            .link2
                +link('#', 'Product')(class="btn")
            .content
                +list('./img/Photo.png','Chinmay Sarasvati','23 Sep 2019', '02:52PM', '$130.00')
                +list('./img/user2.png','Chinmay Sarasvati','23 Sep 2019', '02:52PM', '$130.00')
                +list('./img/user3.png','Chinmay Sarasvati','23 Sep 2019', '02:52PM', '$130.00')
                +list('./img/user4.png','Chinmay Sarasvati','23 Sep 2019', '02:52PM', '$130.00')    
            .container2 
                +list('./img/user5.png','Chinmay Sarasvati','23 Sep 2019', '02:52PM', '$130.00')
                +list('./img/user6.png','Chinmay Sarasvati','23 Sep 2019', '02:52PM', '$130.00')
                +list('./img/user7.png','Chinmay Sarasvati','23 Sep 2019', '02:52PM', '$130.00')
                +list('./img/user8.png','Chinmay Sarasvati','23 Sep 2019', '02:52PM', '$130.00')
        .imgContent
            .links    
                +link('#', 'Design')(class="btn")
                +link('#', 'Product')(class="btn")  
                +link('#', 'Color')(class="btn")      
            .container3        
                img.item1(src="./img/image.jpg", alt="1")
                img.item2(src="./img/image2.jpg", alt="1")
                img.item5(src="./img/image5.jpg", alt="1")
                img.item3(src="./img/image3.png", alt="1")
                img.item4(src="./img/image4.png", alt="1")
                img.item6(src="./img/image6.jpg", alt="1")
                img.item7(src="./img/image7.jpg", alt="1")

                